body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
}

h1, h2 {
  text-align: center;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 3%;
  color: #4D5AE5;
}

.first-logo-part {
  color: #4D5AE5;
}

.second-logo-part {
  color: #2E2F42;
}

nav li a{
  letter-spacing: 2%;
  font-weight: 500;
  color: #2E2F42;
}

nav li a:hover,
nav li a:focus {
  color: #404bbf;
}

.website-navigation {
  letter-spacing: 2%;
}

address a {
  color: #434455;
  font-style: normal;
}

.contact-links {
  letter-spacing: 2%;
}

.contact-links:hover,
.contact-links:focus {
  color: #404bbf;
}

.contact-info {
  letter-spacing: 2%;
}

.hero-section {
  background-color: #2E2F42;
}

.page-title {
  color: #ffffff;
  line-height: 1.07;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 2%;
}

.order-button {
  background-color: #4D5AE5;
  color: white;
  border: none;
  letter-spacing: 4%;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 4%;
  font-weight: 500;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.section-title {
  color: #2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 2%;
  text-transform: capitalize;
}

.title {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2%;
}

.about-title-info {
  letter-spacing: 2%;
}

.team-section {
  background-color: #F4F4FD;
}

.team-info {
  background-color: #ffffff;
}

.position {
  font-size: 16px;
  letter-spacing: 2%;
}

.footer {
  background-color: #2E2F42;
  color: #F4F4FD;
}

.footer .second-logo-part {
  color: #F4F4FD;
}

.footer .footer-text {
  letter-spacing: 2%;
}

.app-working-field {
  letter-spacing: 2%;
}